<div class="container" ng-controller="EmployeeController as todo">
    <div class="jumbotron">
        <h1 align="center">Todo Application {{teste}}</h1>
        <br>
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">

            </div>
        </div>
        <form method="post">
            <div class="form-group">
                <label>name</label>
                <input type="text" class="form-control" name="name" ng-model="user.name">
            </div>
            <div class="form-group">
                <label>empnum</label>
                <input type="text" class="form-control" name="empnum" ng-model="user.empnum">
            </div>
            <div class="form-group">
                <label>email</label>
                <input type="text" class="form-control" name="email" ng-model="user.email">
            </div>
            <div class="form-group">
                <label>street</label>
                <input type="text" class="form-control" name="street" ng-model="address.street">
            </div>
            <div class="form-group">
                <label>street</label>
                <input type="text" class="form-control" name="number" ng-model="address.number">
            </div>
            <div class="form-group">
                <label>picture</label>
                <input type="file" class="form-control" name="picture" ng-model="picture" base-sixty-four-input>
            </div>
            <button type="button" class="btn btn-warning btn-lg" ng-click="salvar()">Signup</button>
        </form>

        <form role="form" method="post">
            <input type="text" name="username" ng-model="user2.username" placeholder="Username">
            <input type="text" name="email" ng-model="user2.email" placeholder="Email">
            <input type="password" name="password" ng-model="user2.password" placeholder="Password">
            <button type="button" ng-click="register()">Sign up</button>
        </form>

    </div>
    
</div>